.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--wgth-text);
  font-size: 18px;
  color: var(--color-text);
  background-image: var(--background);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  inline-size: 696px;
  background-color: var(--background-color);
  margin: 102px auto;
  padding: 135px 0 20px;
  border: 1px solid var(--color-text);
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__text {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding: 20px 0 25px;
}

.header__theme-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-menu__list {
  text-align: start;
  margin-inline-start: 18px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 6px;
}

.theme-menu__button {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  border-bottom: 2px solid var(--color-text);
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  opacity: 0.6;
}


.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled:before {
  content: '▶';
  color: currentColor;
  position: absolute;
  animation: arrow 0.5s infinite ease-in-out;
}

.card-item:not(:last-child) {
  padding-block-end: 53px;
}

.article__card-item {
  margin: auto;
  inline-size: 696px;
  background-color: var(--background-color);
  border: 2px solid var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--wgth-title);
  padding: 5px 0 5px 8px;
}

.card__img-container {
  position: relative;
}

img {
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

.img1 {
  filter: contrast(200%);
}

.img2 {
  filter: brightness(0.4);
}

.img3 {
  filter: grayscale(50%) sepia(40%);
}

.img4 {
  filter: blur(2px);
}

.img5 {
  filter: hue-rotate(90deg);
}

.img6 {
  filter: opacity(70%) sepia(80%);
}

.img7 {
  filter: drop-shadow(5px 5px 10px black) hue-rotate(180deg) saturate(2);
}

.img8 {
  filter: brightness(150%) contrast(200%);
}


.label {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  position: absolute;
  top: 26px;
  right: 24px;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .label {
    -webkit-text-stroke: 1px var(--background-color);
  }
}


.card__text {
  padding: 31px 25px 33px;
}

.paragraph:not(:last-child) {
  padding-block-end: 24px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-block-end: 22px;
}

.card__like-button {
  position: relative;
  margin-inline-end: 22px;
  border: 2px solid var(--color-text);
  block-size: 36px;
  inline-size: 132px;
}

.bt_animation:focus-visible {
  box-shadow: 2px 2px var(--color-text);
}

.bt_animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--color-text);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.bt_animation:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 0.09;
  color: var(--color-bt);
}

.card__icon-button {
  block-size: 36px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-text);
}

.footer__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color-text);
  color: var(--color-text);
  background-color: var(--background-color);
  margin: 54px auto 102px;
  padding: 15px 20px;
}

.floppy-svg {
  block-size: 21px;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--color-bt);
}

.sparks {
  opacity: 0;
}

#dialog-id {
  font-family: var(--accent-font);
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 27px 44px;
  background-color: var(--background-color);
}

#dialog-id::backdrop {
  background-color: rgb(0 0 0 / 0.3);
}

.dialog_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dialog__floppy-svg {
  inline-size: 39px;
}

.dialog_text {
  max-width: 200px;
}

.dialog_button {
  position: relative;
  inline-size: 100%;
  border: 2px solid var(--color-text);
  text-transform: uppercase;
  margin-block-start: 30px;
  padding-block: 10px;
}

@media (max-width: 768px) {
  .header,
  .article__card-item{
    inline-size: 84%;
  }
}

@media (max-width: 480px) {
  .header{
    padding: 119px 0 20px;
    inline-size: 100%;
  }

  .article__card-item{
    inline-size: 100%;
  }

  .card__text {
    padding: 31px 25px 40px;
  }


  .footer__button {
    gap: 17px;
    flex-direction: column;
  }

  .floppy-svg {
    block-size: 28px;
  }
}