:root {
    --main-font: 'Inter-Variable', arial, sans-serif;
    --accent-font: 'PressStart2P', arial, sans-serif;
    --wgth-title: 700;
    --wgth-text: 400;
    --color-text: #000;
    --color-bt: #fff;
    --color-gradient-repeating: #d3d3d3;
    --color-gradient-top: #e7e7e7;
    --color-gradient-bottom: #1a1a1a;
    --fill-color-like: #FF0000;
    --background-color: #fff;
    --background:
            repeating-linear-gradient(var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
            repeating-linear-gradient(90deg, var(--color-gradient-repeating) 0 2px, transparent 2px 4px),
            linear-gradient(var(--color-gradient-top) 0.01%, var(--color-gradient-bottom));
}